body {
  background-color: rgb(103,255,80);
}
div,p {
font-family: futura,roboto,helvetica;
}
a:link {
  color: orange;
}
a:visited {
  color: yellow;
}
a:hover {
  background-color: OrangeRed;
}
a:active {
  background-color: yellow;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #2dd;
  color: black;
}
